node_modules
.angular
dist
coverage
.DS_Store
.env
npm-debug.log
yarn-error.log
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.orig
*.swo
*.pid
*.seed
*.tgz
query-*.js
*.map  
.editorconfig
*.sublime-workspace
*.sublime-project
*.iml
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.tgz
*.tar
*.bak
*.swp
*.orig